input {
    background-color: white;
    color: black;
    width: 500px;
    border-radius: 8px;
}

select{
    width: 500px;
}

.cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

.descricao{
    margin: 5px;
    width: 500px;
}

.titulo {
    margin:2%;
}